.labelStyle{
  margin-top : 7px;
  margin-left: 45px;
}

.textStyle18{
  width : 30%;
  outline : 3px solid #0c6980;
  margin-left :  110px;
}
.textStyle19{
  width : 30%;
  outline : 3px solid #0c6980;
  margin-left :  85px;
}
.textStyle20{
  width : 30%;
  outline : 3px solid #0c6980;
  margin-left :  88px;
}
.textStyle21{
  width : 30%;
  outline : 3px solid #0c6980;
  margin-left :  62px;
}
.textStyle22{
  width : 30%;
  outline : 3px solid #0c6980;
  margin-left :  37px;
}
.textStyle23{
  width : 30%;
  outline : 3px solid #0c6980;
  margin-left :  67px; 
}